![weather-banner](https://gordoncounty.org/wp-content/uploads/2014/01/weather-banner.jpg)

# Converting Cities.csv to .html

### Loading the required libraries & Reading .csv file into a dataframe

In [1]:
# Loading the required libraries
import pandas as pd
import numpy as np
# File to Load from the Resources folder 
file_to_load = "Resources/Cities.csv"
# Read Purchasing File and store into Pandas data frame
df_cities = pd.read_csv(file_to_load)

## Let's explore the dataframe

In [2]:
# Show the first 5 rows of the dataframe
df_cities.head()

,City,Country,Date,Latitude,Longitude,Humidity,Pressure,Max_Temp,Cloudiness,Wind_Speed
0,Saint Paul Harbor,US,2020-07-22 22:19:13,57.79,-152.41,45,1014,66.20,20,8.20
1,Busselton,AU,2020-07-22 22:19:28,-33.65,115.33,52,1009,57.00,37,9.34
2,Mataura,NZ,2020-07-22 22:21:38,-46.19,168.86,83,1011,39.00,95,1.34
3,East London,ZA,2020-07-22 22:17:41,-33.02,27.91,41,1024,63.61,0,2.81
4,Hazorasp,UZ,2020-07-22 22:24:51,41.32,61.07,54,1003,78.80,40,2.10

In [3]:
# Number of rows and number of columns in this dataframe
df_cities.shape

(580, 10)

### The dataframe has 580 rows and 10 columns

In [4]:
# Let's get the list of column headers
df_cities.columns.values

array(['City', 'Country', 'Date', 'Latitude', 'Longitude', 'Humidity',
       'Pressure', 'Max_Temp', 'Cloudiness', 'Wind_Speed'], dtype=object)

## Converting the dataframe to html table

In [10]:
# Create html table
html_table = df_cities.to_html("Cities.html")